@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0px;
    padding: 0px ;
}



/* Add these styles to your CSS file or a <style> tag */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
  }
  